/*font-family: 'Cinzel', serif;
font-family: 'Comfortaa', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Poppins', sans-serif;*/

#bg {
    min-height: 100%;
    margin-top: 50px;
}


/*This is the beginning of the parallax CSS*/
#centerpiece {
	text-align: center;
	margin-top: 80px;
}

#largepins {
	margin-left: -60px;
    margin-top: 20px;
    z-index: 10;
}

#mediumpins {
	margin-left: 50px;
    margin-top: 120px;
    z-index: 5;

}

#smallpins {
	/*margin-left: 0px;*/
    margin-top: 80px;
    z-index: 1;

}


/*this is for the paragraph explaining what CrowdWire is*/

#introduction {

    height: 100px;
    width: 31.3%;
    margin: 1%;
    float: left;
}

a {
	    margin: 1.5rem 20% 1.5rem 20%;
	color: gray;
	font-size: 1em;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	font-style: thin;
	width: 10%;
}
body {
	background: #0c0c0c url(../images/background.jpg) no-repeat top center;
	border: none;
	padding: none;
	min-height: 100%;
}

p {
	color: white;
	margin: 8rem;
	line-height: 200%;
	font-family: 'Cinzel', serif;
}

li {
	color: white;
	font-family: 'Cinzel', serif;
	margin: 1rem 0 1rem 3rem;
}

h3 {
	margin: 1.5rem;
	color: gray;
	font-size: 2em;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	font-style: thin;
}

ul {
	margin: 2rem;
}

hr {
	display: block;
unicode-bidi: isolate;
margin-block-start: 0.5em;
margin-block-end: 0.5em;
margin-inline-start: auto;
margin-inline-end: auto;
margin-bottom: 3em;
overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;
border-style: inset;
border-top-style: inset;
border-right-style: inset;
border-bottom-style: inset;
border-left-style: inset;
border-width: 1px;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
}

.center-column {
	 margin: 0 10% 0 10%;
}

.increase-z-index {
	z-index: 30;
	position: absolute;
	top: 50%;
}

.bottom-li-spacing {
	margin-bottom: 8rem;
}
.top-li-spacing {
	margin-top: 8rem;
}

.link-spacing {
	width: 50%;
	margin: auto;
}
/*This is the end of the parallax CSS*/
